/* .THIS #sfdc_username_container{
    margin-bottom:8px;
    padding: 1px;
    background-color:white;
    border: 1px solid #CCC;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.THIS #sfdc_user{
    float:left;
    width:50px;
    height:10px;
    padding-top:1px;
    padding-left:1px;
    margin:0px;

}

.THIS #sfdc_lock{
    float:left;
    width:50px;
    height:10px;
    padding-top:1px;
    padding-left:1px;
    margin:0px;
} */

.THIS  #error {
    text-align: center;
    color:#FF0000;
}

.THIS calloutContent {
	background: #002e5d;
    background-image: url('/resource/xiaflex_bgBlue') !important;
	background-repeat: no-repeat;
	font-family: "Roboto Condensed", Roboto, sans-serif;
}

.THIS .forgotColor{ 
    color: #eb5903;
}
.THIS  .login-icon {
    color:#ccc;font-size:22px;
}

.THIS #sfdc_password_container{
    padding: 1px;
    background-color:white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.THIS  button.sfdc_button {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #fff;
    background-color: #FF671F;
    border-color: #357ebd;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 12px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42857143;
    border-radius: 2px;
    
}

.THIS  button:hover {
    background-color:#eb5903;
    border-color:#eb5903;
    cursor:pointer;
}

.THIS button .label {
    color: #fff;	
}

.THIS  input {
    margin-left:10px;
    margin-top: 3px;
    border: 0px solid transparent;
    border-radius : 0.2rem;
    width: 70%;
    -webkit-appearance: none;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


.THIS  a {
    color:black;
    text-decoration: none;
}
.THIS  a:hover {
    color:black;
    text-decoration: none;
}

.THIS label.uiLabel-hidden {
    display:none;
}

.THIS .rems-item-container{
    display: grid;
    grid-template-columns: 10% 80%;
    background: #ffffff;
    justify-content: start;
    padding: 12px;
    align-items: start;
    justify-items: start;
    margin-bottom: 5px;
    margin-top: 10px;
    border: 1px solid #ccc;
}

.THIS .rems-item-large {
    width : 100%;
}

.THIS .rems-item-small {
    padding: 0.4rem;
}

.THIS .rems-item-container-two {
    margin-top: 5px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.THIS .brandColor{
    color: #eb5903;
}
.THIS .txtColor{
    color: #666;
    padding: 10px;
}

.THIS .frmContainer .slds-card__body p.frmInstructions {
    padding: 10px 10px !important;
}
.THIS .slds-text-body_medium{
    color: #696969 !important;
}
.THIS .pageContainer {   
  padding-left: 15px !important;
  background: white !important;
  padding: 5px;   
  /*
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);*/
}