.dummy {background-color:#002c77;

}
.topnav ul.nav > li > a {
	font-size: 0.799rem;
}
.active-link {
    color: black !important;
}
.topnav ul.nav {
	flex-wrap: nowrap;
}
.topnav ul.nav > li {
	padding: 0px;
}