.slds-modal__content{
	background-color: #f7f7f7 !important;
}
h3.slds-tile__title.slds-truncate.slds-line-clamp{
font-size: 1.2rem;
    color: #545454;
}
.subtitle{
	font-size: .9rem;
}
.pendingothercsss{
background: #f1eeb8f0;
    color: #383333;
	text-transform: uppercase;
    display: inline-block;
    font-size: .9rem;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 5px;
    margin-bottom: 5px;
	margin-left: 9px;
}
.cancelbtn {
       right: 12px;
    position: relative;
}