.THIS .form-control {
    background-color: #F1F1F1;
    border-radius: 0px;
    border: 1px solid #ccc;
}
.THIS .slds-input{
	padding-left: 0px !important;
	border-radius: 0px !important;
	border: 0px !important;
	background-color: #F1F1F1 !important;
    height: 25px !important;
    min-height: 25px !important;
    
}
.THIS .slds-form-element__label{
    display: none;
}

.THIS .slds-input:focus, .THIS .slds-input:active {
     box-shadow: none;
}

.THIS .slds-form-element__label {
    font-size: 15px !important;
    color: #182132;
    font-weight: 600;
    margin-left: -0.2em;
}
.THIS .slds-checkbox_faux {
    margin-left: 0.5em !important;
    border-radius: 0.25em;
    
}
.THIS .form-check .form-check-input {
    float: left ;
    margin-left: -1.5em;   
}

.THIS .customcheckbox{
    
}


.THIS .headingTwoFA{
    font-weight: bold;
    font-size: 11px;
    color: #02215f;
}

.THIS .detailTwoFA{
    font-size: 10px;
    color: #02215f;
}

.THIS .radioGroupLabel .slds-form-element__label{
    display: inline !important;
    pointer-events: all !important;
    border: 0px;
    font-size: 13px;
    color: #02215f;
    font-weight: bold;
    padding-left: 30px ;
}