.THIS .slds-card__header{
    color: #FFFFFF;
    background-color: #2949AD;
     font-family: Sans-serif;
    font-size:24px;
}
.THIS .font-css {
font-size: 90%;
}
.THIS.customfamily{
    font-family: Sans-serif;
    font-size:14px;
}