dummy{
    color:black;
}

.contactUsItem {
    display: flex;
    margin: 5px 0;
    border-bottom: 1px solid #fff;
    background: #fff;
    flex: 1;
    flex-direction: row;
    box-shadow: 0px 8px 18px -8px #979a9c;
    align-items: start;
    padding: 15px 15px 25px;
}

@media only screen and (max-width: 768px) {
    .contactUsMobile{
            display:block;
        }
}