.aveedcss {
	color: black !important;
	text-decoration: none;
}

a {
	color: black !important;
}

.highlightpanel {
	text-decoration: none !important;
	border-bottom: 3px solid #e17000 !important;
}

a:hover {
	color: #e17000 !important;
}

.labelColour {
	--lwc-colorTextPlaceholder: black;
}

:host {
	--slds-g-color-brand-base-60: white;
	--lwc-shadowButtonFocus: 0 0 3px white;
	--slds-c-input-radius-border: 0;
}
/* RT 11-10-24 changes */
.forceCommunityThemeNav .mainNavItem {
	padding: 10px 56px 15px 0;
}