.form{
	background: #f3f3f3;
    padding: 15px;
	margin-left: 16px;

}
.form .formItem {
    display: flex;
    margin: 5px 0;
    padding: 10px 5px;
    border-bottom: 1px solid #fff;
    background: #fff;
}
.form .formName{
font-size: 1rem;
    width: 95%;
    line-height: 1.25rem;
}