/*.pageContainer {
	max-width: 1440px;
	margin: 0 auto;
}
.pageContent {
	background: #fff;
	padding: 15px 15px 100px;
	border: 0px solid #ddd;
}
.slds-icon {
    fill: white !important;
}

 .slds-icon {
	fill: #e17000;
}	 */