dummy{
    color:black;
}
.calloutContent {
	background: #002e5d;
    background-image: url('/resource/xiaflex_bgBlue');
	background-repeat: no-repeat;
	font-family: "Roboto Condensed", Roboto, sans-serif;
}
.slds-text-heading_large {
    color: #002e5d;
    font-weight: 400;
    font-family: "Roboto Condensed";
    font-size: 2rem;
    margin-top: 1rem;
}
a {
    color: #eb5903;
	
}
.marginBottom{
    margin-bottom: 30px;
}
.paddingRightLeft{
   /* changes made by jasmeen  */
   padding: 0 35px;
    top: 0px;
    position: relative;
        
 
}
.borderRightLeft{
    /* changes made by jasmeen  */
    border-right: solid 1px gainsboro;
    border-left: solid 1px gainsboro;
}