.THIS .threeDotsButtonIconClass {
    background-color: white;
}
.THIS .colorClass {
    color: #000000;
}
.THIS .numbercolorClass {
    color: #ffffff;
}
.THIS .ButtonNumberColorClass{
   color: #ffffff;
}